<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="sim" default="false" />
  <arg name="task_config" default="$(find task_executor)/config/tasks.yaml" />
  <arg name="data_config" default="$(find task_executor)/config/simulation.yaml" if="$(arg sim)" />
  <arg name="data_config" default="$(find task_executor)/config/robot.yaml" unless="$(arg sim)" />

  <!-- The database node -->
  <node name="database" pkg="task_executor" type="database_node.py">
    <rosparam command="load" file="$(arg data_config)" />
  </node>

  <!-- The beliefs node -->
  <node name="beliefs" pkg="task_executor" type="beliefs_node.py" />

  <!-- The task execution node -->
  <node name="task_executor" pkg="task_executor" type="task_node.py" output="screen">
    <rosparam command="load" file="$(arg task_config)" />
  </node>

  <!-- The idle behaviour node -->
  <node name="idle_executor" pkg="task_executor" type="idle_behaviour_node.py" output="screen">
    <rosparam command="load" file="$(arg task_config)" />
  </node>
</launch>
