<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="robot"     default="false" />
    <arg name="pcl_topic" default="/camera/depth_registered/points" unless="$(arg robot)"/>
    <arg name="pcl_topic" default="/head_camera/depth_registered/points" if="$(arg robot)"/>

    <!-- start RGB-D sensor if needed -->
    <group unless="$(arg robot)">
        <arg name="rgb_calibration"             default="rgb_1411060937.yaml" />
        <arg name="depth_calibration"           default="depth_1411060937.yaml" />
        <include file="$(find openni2_launch)/launch/openni2.launch">
            <arg name="rgb_camera_info_url"     value="file://$(find fetchit_bin_detector)/calibrations/$(arg rgb_calibration)" />
            <arg name="depth_camera_info_url"   value="file://$(find fetchit_bin_detector)/calibrations/$(arg depth_calibration)" />
            <arg name="depth_registration"      value="true" />
        </include>
        <!-- start static broadcaster -->
        <node pkg="tf" type="static_transform_publisher" name="base_link_broadcaster" args="0 0 1.6 0.0 0.7 0.0 base_link camera_link 100" />
    </group>

    <!-- view rviz for visualizations -->
    <node pkg="rviz" type="rviz" name="bin_detector_viewer"/>

    <!-- launch bin_detector -->
    <include file="$(find fetchit_bin_detector)/launch/launch_detector.launch">
        <arg name="pcl_topic"             value="$(arg pcl_topic)"/>
        <arg name="viz_detections"        value="true"/>
        <arg name="launch_segmentation"   value="true"/>
    </include>

</launch>
