<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!-- gives static world tf -->
    <node pkg="tf" type="static_transform_publisher" name="base_link_broadcaster" args="0 0 0 0 0 0 world icp 100" />

    <!-- view rviz for visualizations -->
    <node pkg="rviz" type="rviz" name="icp_matcher_viewer"/>

    <!-- launch icp_matcher -->
    <node pkg="fetchit_icp" type="icp_matcher_node" name="icp_matcher_node">
        <param name="mesh_file" value="bin.ply"/>
    </node>

</launch>