<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="initial_corner_estimate" default="1.9 -0.1 0.83 1.57 0 0"/>

    <!-- gives static world tf -->
    <node pkg="tf" type="static_transform_publisher" name="base_link_broadcaster" args="$(arg initial_corner_estimate) map table_guess 10" />

    <!-- launch icp_matcher -->
    <node pkg="fetchit_icp" type="icp_matcher_node" name="icp_matcher_node" output="screen">
        <param name="template_file" value="corner.pcd"/>
        <param name="max_distance" value="0.5"/>
        <param name="iterations" value="1000000"/>
        <param name="trans_epsilon" value="0.000000000001"/>
        <param name="fit_epsilon" value="0.0000000000001"/>
        <param name="initial_estimate" value="$(arg initial_corner_estimate)"/>
    </node>

</launch>